.header {
    padding: 12px 16px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header h1 {
    font-size: var(--font-size-heading5);
    font-weight: 600;
    margin: 0;
}

.logo {
    width: 116px;
    cursor: pointer;
}

.headerActions {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}

.searchBox {
    position: relative;
    display: flex;
    align-items: center;
}

.searchBox input {
    padding: 10px 36px 10px 12px;
    border: 2px solid var(--neutral-14);
    border-radius: 10px;
    font-size: var(--font-size-caption);
    width: 200px;
    background: var(--neutral-16);
    color: inherit;
    font-family: inherit;
    outline: transparent;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.searchBox input:hover {
    border: 2px solid var(--neutral-13);
    background-color: var(--neutral-15);
}

.searchBox input:focus {
    border: 2px solid var(--orange-primary);
    background-color: var(--neutral-16);
}

.searchBox input:disabled {
    opacity: 0.5;
}

.searchIcon {
    position: absolute;
    right: 10px;
    opacity: 0.5;
    pointer-events: none;
}

.btn {
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    background: var(--yellow-primary);
    color: inherit;
    transition: all 0.2s;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: var(--neutral-0);
    font-weight: 600;
    gap: 6px;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background: var(--orange-primary);
}