.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 300px;
    padding: 40px 24px;
    color: var(--neutral-8);
    border: 2px dashed var(--neutral-13);
    background-color: var(--neutral-16);
    border-radius: 16px;
    margin: 24px;
    transition: all 0.2s;
}

.emptyState img {
    width: 64px;
    cursor: none;
}

.dragging {
    background: var(--neutral-16);
    border-color: var(--blue-primary);
    color: var(--blue-primary);
}

.emptyState h2 {
    margin: 16px 0 8px;
    font-size: var(--font-size-heading5);
    font-weight: 600;
    color: var(--neutral-0);
}

.emptyState p {
    margin: 0;
    font-size: var(--font-size-caption);
}

.pasteBtn {
    margin-top: 16px;
    background: none;
    border: none;
    color: var(--orange-active);
    font-size: var(--font-size-subtitle);
    font-weight: 600;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 6px;
    transition: background 0.2s;
}

.pasteBtn:hover {
    color: var(--orange-hover);
}